
.card2 {
    position: absolute;
    top: 75%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 10vw;
    height: 10vw;
    background: transparent;
    color: rgba(0, 0, 0, 0.3);
}
.card2 .image2 {
    width: 10vw;
   height: 10vw;
    /* overflow: hidden; */
}
.card2 .image2 p {
    transition: .5s;
}
.card2:hover .image2 p {
    opacity: .5;
    transform: translateX(30%);
    color: transparent;
}
.card2 .details2 {
    position: absolute;
    top: 0;
    left: 0;
    width: 3vw;
	font-size: 1vw;
    height: 8vw;
    background: transparent;
    transition: .5s;
    transform-origin: left;
    transform: perspective(2000px) rotateY(-90deg);
 
}
.card2:hover .details2 {
    transform: perspective(2000px) rotateY(0deg);
    
}
.card2 .details2 .center2 {
   
    text-align: center;
    background: rgba(0, 0, 0, 0.5);
    position: absolute;
    top: 40%;
    transform: translateY(-50%);
    border-radius: 2vw;
}



@media only screen and (max-width:500px) {
    /* For mobile phones: */
    .card2,.center2 {
     
        margin: -30vw -25vw;
        width: 5vw;
        font-size: 5vw;
    }
    .center2{
        margin: 8vw 0vw;
        width: 35vw;
        font-size: 3vw;

    }
  }

